/* Палітра проекту
Колір заголовків #000000
Колір акцентів #2196F3
Колір білий #FFFFFF
Колір абзаців #757575
Колір фону #F5F4FA 
Колір актівної кнопки #188CE8;
*/

:root {
  --headlines: #000000;
  --maintext: #757575;
  --accents: #2196f3;
  --white: #ffffff;
  --bgr: #f5f4fa;
  --bgr-black: #2f303a;
  --title: #212121;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: var(--title);
  background-color: var(--white);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
 cursor: pointer
}
.hero {
 background-color: var(--bgr-black);
}
.team {
 background-color: var(--bgr);
}

/* Логотип */

.logo {
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  color: var(--accents);
}
.logo-header {
  color: var(--headlines);
}

/* Навігація */

.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--title);
}
.activ-element:hover,
.activ-element:focus,
.current {
  color: var(--accents);
}

/* Контакти */

.contacts-mail,
.contacts-tel {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--maintext);
}

/* Герой */
.heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgr);
}

/* Кнопка замовлення */

.order-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--accents);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
}
.order-button:hover, 
.order-button:focus {
    background-color: #188CE8;
}

/* Основний контент */

.hidden  {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  color: var(--title);
}

.subtitle-team, 
.text-team
{
    font-size: 16px;
}
.upcase {
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--maintext);
}
.team-list {
    background-color: var(--white);
}

/* Підвал */
footer {
  background-color: var(--bgr-black);
}

.logo-footer {
  color: var(--white);
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* background-color: #2F303A; */
  color: rgba(255, 255, 255, 0.6);
}
.footer-map {
  color: var(--white);
}

/* Сторінка портфоліо */

/* Фільтр */
.filter-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
}

.filter-list:hover,
.filter-list:focus {
  background-color: var(--accents);
  color: var(--white);
}

/* Проекти */

.project-name {
color: var(--title);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.project-type {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--maintext);
}
