.team {
padding: 94px 0 94px 0;
background-color: var(--bgr);

  &__subtitle {
    text-align: center;
    font-size: 16px;
    margin: 30px 0 10px 0;
  }

  &__text {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--maintext);
  }
  &__list-icon {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
  }
}


.team__item {
background-color: var(--white);
border-radius: 0 0 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}


.team__item-icon {
  width: 44px;
  height: 44px;


  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team__icon-bgc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background-color: var(--accents);
}
}


.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


  .team__icon-bgc:hover &,
  .team__icon-bgc:focus & {
  fill: var(--white);
}
}
